@media (max-width: 992px) {

    .sizei {
        height: 13rem;
        object-fit: cover;
    }
}




@media (min-width: 992px) {
    .sizei {
        height: 13rem;
                object-fit: cover;
    }
    .sizecardd{
        height: 29rem;
    }
    .sizep{
        height: 5rem;
    }
    


}