@media (max-width: 992px) {
  .sizei {
    height: 13rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 992px) {
  .sizei {
    height: 13rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sizecardd {
    height: 29rem;
  }
  .sizep {
    height: 5rem;
  }
  .sizepp {
    height: 3.5rem;
  }
}
.pagination {
  list-style: none;
  height: 31.5px;
  width: 31.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.activee {
  background-color: rgb(255, 193, 7);
  border-radius: 50%;
  color: white;
}

.page-item {
  list-style: none;
  padding: 2px 12px;
  height: 31.5px;
  width: 31.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  font-size: 20px;
  text-decoration: none;
  color: var(--gray-600, #475467);
}