

@media (max-width: 992px) {

.sizei {
        height: 13rem;
                        object-fit: cover;
    }
         .boxborderr {
             border: 3px solid #ebecef;
    
         }
}




@media (min-width: 992px) {
    .sizei {
            height: 13rem;
                        object-fit: cover;
        }
                .boxborderr {
                    border: 3px solid #ebecef;
                    height: 20rem;
        
                }
    
       
}