@media (max-width: 992px) {
    .sizepicture {
        height: 300px;
        object-fit: cover;
    }

    .sizepicture1 {
        height: 150px;
        object-fit: cover;
    }
}

@media (min-width: 992px) {

    .sizepicture {
        height: 460px;
        object-fit: cover;
        @extend %filtergrey;
    }

    .sizepicture:hover {
        @extend %filtergreyhover;
    }

    .sizepicture1 {
        height: 230px;
        object-fit: cover;
        @extend %filtergrey;
    }

    .sizepicture1:hover {
        @extend %filtergreyhover;
    }

    %filtergrey {
        filter: grayscale(100%);
        -webkit-filter: grayscale(50%);
        -webkit-transition: all 1s ease;
    }

    %filtergreyhover {
        filter: grayscale(0%);
        filter: gray;
        -webkit-filter: grayscale(0%);
        filter: none;
        transition: 1s ease;
    }
}