

.decorate {
  text-decoration: none;
}

@media (max-width: 992px) {
  .sidebar {
    display: flex;
    flex-direction: column;
  }
}
.white {
  color: whitesmoke;
}

.logoo {
  width: 60px;
  height: 60px;
}