.image-container {
    padding: 10px;
}

.image-container img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 992px) {
.sizeimg1 {
        width: 100%;
        height: 16rem;
        object-fit: cover;
    }

    .sizeimg2 {
    display: none;
    }

    .sizeimg3 {
      
        display: none;
    }
        .sizetextrate {
            font-size: 1.2rem;
        }
        
}


@media (min-width: 992px) {
    
.sizeimg1{
    width: 100%;
    height: 28rem;
    object-fit: cover;
}
.sizeimg2 {
    width: 100%;
    height: 13rem;
    object-fit: cover;
}
.sizeimg3 {
    width: 100%;
    height: 14rem;
    object-fit: cover;
}
.sizetext{
    font-size: 1.3rem;
}
.fontp{
    font-size: 1.25rem;
}


}