@media (max-width: 992px) {
  .sizeimg {
    width: 150px;
    height: 50px;
  }
}
@media (min-width: 992px) {
  .sizeimg {
    width: 140px;
    height: 40px;
  }
}
.boxFooter {
  background-color: #f2f4f7;
}

.black {
  color: black;
}

.hover:hover {
  font-weight: bold;
  text-decoration: underline;
}