@media (max-width: 576px) {
    .sizeimg {
        width: 150px;
        height: 50px;
    }
}

.boxFooter {

    background-color: #f2f4f7;


}

.black {
    color: black;
}

.hover:hover {
    font-weight: bold;
    text-decoration: underline;

}