


@media (max-width: 992px) {

.sizeimgg {
        height: 8rem;
        background-size: cover;
            background-position: center;
    }
}




@media (min-width: 992px) {
    .sizeimgg{
        height: 14rem;
        background-size: cover;
        background-position: center;
    }
}