.white {
    color: white;
}

.black {
    color: black;
}
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #050505;
   
}

@media (max-width: 992px) {
.fstour {
        font-size: 1.2rem;
    }
    .fontttts {
        font-size: 1rem;
    }

    .fontwelcome {
        font-size: 1.6rem;
        font-weight: bold;

    }

    .fonttttt {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .background {
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 20rem;
    }

    .fonttt {
        font-size: 1.5rem;
        font-weight: bold;
    }
        .myVideo {
    
        height: 22rem;
       position: fixed;        
 background-image: url(../../../assets/image/dark.jpg);            background-repeat: no-repeat;
    
            background-size: cover;
    
            background-attachment: fixed;        
           
        }
.zindex {
    position: absolute;
    top: 0;

   overflow-x: hidden;
}
.boxhome {

    background-color: white;
        position: absolute;
        top: 22rem;
        width: 100%;
        background-image: url(../../../assets/image/section-background.png);        background-repeat: no-repeat;
    
        background-size: cover;
    
        background-attachment: fixed;

}
 .location {
     width: 3rem;
     height: 3rem;
     object-fit: cover;
 }


 .sizeimghome {
     width: 20rem;
     height: 20rem;
 }

}

@media (min-width: 600px) and (max-width: 992px) {
.zindex {
        position: absolute;
        top: 0;


    }
        .fstour {
            font-size: 1.4rem;
        }
        .boxhome {
    
            background-color: white;
            position: absolute;
            top: 28rem;
            width: 100%;
        background-image: url(../../../assets/image/section-background.png);            background-repeat: no-repeat;
    
            background-size: cover;
    
            background-attachment: fixed;
    
        }

    .myVideo {
        width: 100%;
        height: auto;
 background-image: url(../../../assets/image/dark.jpg);            background-repeat: no-repeat;
    
            background-size: cover;
    
            background-attachment: fixed;        

    }

    .fonttt {
    
        font-size: 3rem;
        font-weight: bold;
    }

    .fonttts {
        font-size: 3rem;
        font-weight: bold;
    }
        .sizeimghome {
            width: 26rem;
                height: 26rem;
            
        }
}


@media (min-width: 992px) {
    .fstour{
        font-size: 1.8rem;
    }
  
.boxhome {
        width: 100%;
        
        background-color: white;
        position: absolute;
        top: 50rem;
        background-image: url(../../../assets/image/section-background.png);
            background-repeat: no-repeat;
        
            background-size: cover;
        
            background-attachment: fixed;
            

    }
    
    .zindex{
        position: absolute;
            top: 0;
            
          
    }
         .myVideo {
         
                width: 100%;
                height: auto;
 background-image: url(../../../assets/image/dark.jpg);            background-repeat: no-repeat;
    
            background-size: cover;
    
            background-attachment: fixed;            
             
    
         }
    .fonttt {
        font-size: 3rem;
        font-weight: bold;
    }

    .fonttts {
        font-size: 4rem;
        font-weight: bold;
    }

    .background {
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 50rem;
    }
    .imgdestination{
        width: 100%;
        height: 22rem;
        object-fit: cover;
    }
    .location{
        width: 4rem;
        height: 4rem;
        object-fit: cover;
    }
        .sizetexthome {
            font-size: 2.8rem;
            line-height: 4rem;
        }
    
        .sizeimghome {
            width: 35rem;
            height: 35rem;
        }
}



.textshadow {
    text-shadow: 5px 5px 10px black;
}